.tableProgression {
  margin: 20px;
  padding: 10px;
}

.sessionsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.session {
  width: 16.66%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

.sessionHeader {
  margin-bottom: 10px;
}

.sessionHeader h4 {
  font-size: 1.2rem;
  margin: 0;
}

.sessionHeader span {
  font-size: 0.9rem;
  color: #777;
}

.sessionStatus {
  margin: 10px 0;
  font-size: 1rem;
}

.notDone {
  color: red;
  font-weight: bold;
}

.awaitingValidation {
  color: orange;
  font-weight: bold;
}

.awaitingValidationEtudiant {
  color: orange;
  font-weight: bold;
}

.awaitingValidationEncadrant {
  color: orange;
  font-weight: bold;
}

.done {
  color: green;
  font-weight: bold;
}

.sessionInput {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.inputSection {
  margin: 20px 0;
}

.inputSection input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.row {
  display: flex;
}
.col {
  flex: 1;
}

.link {
  text-decoration: none;
  color: #007bff;
  font-weight: 600;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.pending {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin: 10px 0;
}

.pending h4 {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}
.textPending {
  color: orange;
}
.textCongrate {
  color: green;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  background: #777;
  border-radius: 50%;
  animation: l6 1s infinite linear alternate;
  margin: 0 auto;
}

@keyframes l6 {
  0% {
    box-shadow: 15px 0, -25px 0;
  }
  50% {
    box-shadow: 15px 0, -15px 0;
  }
  100% {
    box-shadow: 25px 0, -15px 0;
  }
}
