.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.modal h2 {
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 20px;
  font-size: 16px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.confirmButton,
.cancelButton {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  flex: 1;
}

.confirmButton {
  background-color: rgb(144, 240, 0);

  color: #fff;
}

.cancelButton {
  background-color: #ddd;
  color: #555;
}

.confirmButton:hover {
  background-color: greenyellow;
}

.cancelButton:hover {
  background-color: #bbb;
}
